@import "public";
// banner图
.banner {
    width: 100%;
    .slide_banner {
        height: 890px;
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-slide {
                background-position: center;
                background-size: cover;
            }
            .button {
                display: inline-block;
                width: 35px;
                height: 70px;
                background: white;
                opacity: 0.4;
                position: absolute;
                top: -15px;
                left: -5px;
            }
            .button:hover{
                opacity: 0.7;
            }
            .rtBtn {
                left: auto;
                right: -5px;
            }
            .swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0 3px;
                width: 12px;
                height: 12px;
                background: #f2f2f2;
            }
        }
    }
    .static_banner {
        width: 1822px;
        height: 864px;
        margin: 0 auto;
        margin-top: 40px;
        a {
            height: 864px;
            display: block;
            background: url(../../dist/images/page1_static_banner.jpg) center top;
        }
    }
}

// 穿搭部分
.wear_container {
    width: 100%;
    margin-bottom: 46px;
    // 2020春夏搭配型录
    .spring_wear {
        padding-top: 30px;
        h2 {
            font-size: 44px;
            height: 137px;
            line-height: 137px;
            text-align: center;
        }
        .swiper-container{
            .swiper-slide {
                opacity: 0.3;
                overflow: hidden; 
                img{
                    width: 370px;
                    transition: all 1s;
                }
            }
            .swiper-slide:hover img{
                transform: scale(1.1);
            }
            .swiper-slide-active {
                opacity: 1;
            }
            .swiper-slide-next,
            .swiper-slide-prev {
                opacity: 0.7;
            }
            .swiper-button-prev{
                left: 150px;
            }
            .swiper-button-next{
                right: 150px;
            }
        }  
            
    }
    // 更多时尚买家穿搭灵感
    .more_wear {
        margin-top: 64px;
        h2 {
            font-size: 44px;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
        .more_wear_slide {
            position: relative;
            .swiper-container {
                width: 1700px;
                .swiper-wrapper{
                    margin-top: 15px;
                }
                .swiper-slide {
                    height: 645px;
                    background:#f9f9f9;
                    transition: all .5s;
                    .wear-content{
                        width:273px;
                        margin:0 auto;
                        img{
                            width: 273px;
                            height: 396px;
                            margin-top: 20px;    
                        }
                        p{
                            line-height: 30px;
                            color: #595959;
                        }
                        p:first-of-type{
                            margin: 40px 0;
                        }
                    }    
                }
                .swiper-slide:hover{
                        transform: translateY(-10px);
                        box-shadow: 0 0 10px 3px  lightsteelblue;
                    }
            }
            .swiper-button-prev{
                left: 50px;
            }
            .swiper-button-next{
                right: 50px;
            }
        }
    }
}