@import "public";
// 遮罩
.mark{
    width: 100%;
    height: 2000px;
    background:#9999;
    // opacity: 0.5;
}
.login{
    width: 488px;
    height: 400px;
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -263px;
    margin-top: -200px;
    padding-left: 38px;
    font-size: 14px;
    input{
        width: 313px;
        height: 35px;
        outline: none;
        border: 1px solid lightgrey;
    }
    .login-error{
        display: inline-block;
        width: 313px;
        height: 35px;
        line-height: 35px;
        margin-top: 5px;
        background: #FEF2F2;
        border: 1px solid #FFB4A8;
        // float: left;
        display: none;
    }
    button{
        float: right;
        height: 35px;
        line-height: 35px;
        margin-right: 10px;
        background: white;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    p{
        // border: 1px solid;
        width: 313px;
        height: 30px;
        line-height: 30px;
    }
    a{
        color: black;
        float: right;    
    }
    a:hover{
        text-decoration: underline;
    }
    .login-btn{
        margin-top: 22px;
        background: #fc792b;
        border: 0;
        outline: none;
        color: white;
        cursor: pointer;
    }
}